$btn-color1: #007bff;
$btn-color2: #f8f9fa;

.custom-button {
  margin-top: 20px;
  font-size: 1.1rem;
  padding: 4px 20px;
  border-radius: 10px;
  border: 1px solid grey;
  transition: 0.2s;
  width: 100%;
  background-color: $btn-color1;
  color: $btn-color2;

  &:hover {
    background-color: $btn-color2;
    color: $btn-color1;
  }
}
