@import "../../settings.scss";

$bg-color: rgba(250, 222, 9, 0.9);
.main-container {
  margin: auto;
  border-radius: 10px;
  position: relative;

  background-color: $bg-color;
  @media #{$break_md}, #{$break_lg} {
    width: 750px;
  }

  img {
    width: 100%;
  }

}
