@import "../../../settings.scss";

$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -18px;
  font-size: 12px;
  color: $main-color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.input-field {
  position: relative;
  margin: 40px 0;

  .form-control {
    color: $sub-color;

    &:focus ~ .form-label {
      @include shrinkLabel();
    }
  }

  .form-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 11px;
    top: 8px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }

  small {
    position: absolute;
    top: 40px;
  }
}
